/* div {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
  
img {
    width: 200px;
    height: 200px;
}
  
h1 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 0;
}
  
p {
    color: white;
    opacity: 0.7;
    margin: 0;
}
  
code {
    font-size: 12px;
    padding: 2px 4px;
    background-color: #ffffff24;
    border-radius: 2px;
} */

.Popup {
    /* 四个方向都有 16px 外边距 */
    /* margin: 16px; */
    /* 内容与边框之间的距离 */
    padding: 10px 20px;
}

.Err {
    font-size: 12px;
    padding: 2px 4px;
    background-color: #45434324;
    border-radius: 2px;
} 